.chat-input {
    display: flex;
    margin: 0 20px;
    // position: relative;

    &__smile-btn {
        .chat_input__emoji-picker {
            position: absolute;
            bottom: 80px;
            z-index: 1;

            .emoji-mart-preview {
                display: none;
            }

            .emoji-mart-search-icon {
                display: none;
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        width: 70px;
        justify-content: space-between;
        margin-left: 15px;

        &-upload-btn {
            cursor: pointer;
            input {
                cursor: pointer;
            }

            &:hover {
                button {
                    opacity: 1;
                }
            }
        }

        svg {
            opacity: 0.5;
            transition: 0.3s;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    &__smile-btn {
        svg {
            opacity: 0.5;
            margin-top: 12px;
            margin-right: 15px;
            transition: 0.3s;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    svg {
        font-size: 20px;
    }

    input {
        &:focus {
            border: 1px solid #d9d9d9;
            border-radius: 2px;
        }
    }
}

.ant-input:focus,
.ant-input-focused {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    outline: 0;
    -webkit-box-shadow: none !important;
}

.chat-input__actions-upload-btn {
    cursor: pointer !important;
}
