html,
body {
    overflow-x: hidden;
    height: 100%;
}

body {
    background-image: url('804827.jpg');
    background-size: cover;
    background-position: center;
}

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #fc477b;
    position: fixed;
    height: 59px !important;
    overflow: hidden;
    z-index: 10;
}

#sidebarmenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 59px;
    /* transform: translateX(-250px); */
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #fc477b 0%, #3f5efb 100%);
}


.sidebarmenuinner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarmenuinner li {
    list-style: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarmenuinner li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer
}

.sidebarmenuinner li span {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

input[type="checkbox"]:checked~#sidebarmenu {
    transform: translateX(0);
}

.sidebaricontoggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: white;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;

}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}