.MenuToggle {
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  z-index: 100;
  transition: all 0.2s ease-in;

  &:hover {
    opacity: 0.7;
  }
}

.MenuToggle.open {
  left: 320px;
}
