.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1.5rem;
  align-content: center;
}

.example {
  color: #c7f79a;
  color: #43b371;
  color: #f65b7c;
  color: #ff0000;
  color: #5900ff;
}

.intresting {
  color: #fc618d;
  color: #5AD4E6;
  color: #F7F1FF;
  color: #64d1a7;
  color: #61BDF2;
}
