$bg: #151c26;
$bg: #000c17;
$bg: #f4f7fd;
$blue: #3674ff;
$green: #00c980;
$dialogsHover: #3674ff;
$dialogsaActiveFontColor: #49ca3e;

//NOTE/: Fonts colors
$white: #f4f7fd;
$black: #202020;

$message-typing-blue: #e5edff;
$message-typing-circle: #a6bdf0;
