.drawer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 300px;
  padding: 20px 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.95);
  z-index: 90;
  transform: translateX(0px);
  transition: 0.2s ease-in;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 15px;

      a {
        color: #363f54;
        font-size: 30px;
        text-decoration: none;

        position: relative;
        padding: 0 20px 10px 20px;
        transition: 0.3s;
        display: block;
        width: 85%;

        &:hover,
        :active {
          background: rgba(130, 0, 206, 0.95);
          opacity: 0.7;
          color: white;
        }
      }
    }
  }
}

.drawer.close {
  transform: translateX(-300px);
}
