html, body{
    margin: 30px;
    background: #eee;
}

.faq{
    margin: 30px;
}

.faq .item{ 
    background: #ff0;
    margin: 20px 0;
}

.faq .item .ask{
    font-size: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.faq .item .answer{
    overflow: hidden;
    padding: 0 15px;
}