#elastic {
    display: block;
    margin: 40px 0;
}

.text-center {
    text-align: center;
}

.elastic li {
    transition: all ease 500ms;
}

.elastic li.hide {
    display: none;
}

.hide {
    display: none;
}