<br />
<div class="container">
  <h4>
    <mark>Автомобиль</mark>{{ name }} <small>{{ model }}</small>
  </h4>
  <div class="alert alert-success">
    Характеристики авто:

    <ul>
      <li>
        Скорость : <strong>{{ speed }}</strong> km
      </li>
      <li>
        Цвет авто : <strong>{{ colors.car }}</strong>
      </li>
      <li>
        Цвет салона : <strong>{{ colors.salon }}</strong>
      </li>
      <li>
        Цвет колес : <strong>{{ colors.wheels }}</strong>
      </li>
    </ul>
  </div>

  <h5>Возможности автомобиля</h5>
  <form (submit)="addOpt(option.value)">
    <div class="form-group">
      <label for="option">Добавление новой возможности</label>
      <input
        type="text"
        id="option"
        placeholder="write"
        class="form-control"
        #option
      />
      <br />
      <button type="button" class="btn btn-outline-success">Добавить</button>
    </div>
    <br />
  </form>
  <div class="alert alert-warning">
    <ul>
      <li *ngFor="let opt of options; let i = index">
        {{ i + 1 }} : {{ opt }}
      </li>
    </ul>
  </div>

  <h5>Выберете автомобиль</h5>
  <button type="button" class="btn btn-danger" (click)="selectCar('bmw')">
    BMW
  </button>
  <button type="button" class="btn btn-success" (click)="selectCar('audi')">
    Audi
  </button>
  <button type="button" class="btn btn-warning" (click)="selectCar('mercedes')">
    Mersedec
  </button>
</div>
