body {
    background-color: red;
    color: white;
    display: flex;
}

a {
    color: grey;
}

strong {
    color: white;
}


@media screen and(max-width: 200px) {
    body {
        font-size: 25px;
    }
}