<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>

<body>

    <div id="app">
        <my-counter v-for="c in 2"></my-counter>
    </div>

    <hr>

    <div id="app2">
        <my-counter></my-counter>

        <h2>{{}}</h2>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script>


        var commonCounters = {
            sum: 0
        }

        var conponent = {
            template: `
                        <div class="" style="border: 1px solid green; padding:10px">
                        <h2>counter : {{counter}}</h2>
                        <button v-on:click="countData">counter ++ </button>
                        <input type="text" v-model="counter">
                        </div>
                    `,
            data() {
                return {
                    counter: 0

                }
            },

            methods: {
                countData() {
                    this.counter++;
                    commonCounters.sum = commonCounters.sum + this.counter;
                    console.log(commonCounters.sum);
                }
            }
        }


        new Vue({
            el: '#app',
            components: {
                'my-counter': conponent
            }
        });
        new Vue({
            el: '#app2',
            components: {
                myCounter: conponent
            }
        });


    </script>
</body>

</html>