.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid whitesmoke;
  padding: 5px 0;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  object-fit: center;
  height: 40px;
  margin-left: 5px;
}

.header__middle {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: whitesmoke;
}

.header__middle > .MuiSvgIcon-root {
  color: gray;
}

.header__middle > input {
  border: none;
  width: 100%;
  padding: 10px;
  outline-width: 0;
  background-color: transparent;
}
