.card {
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  background: var(--white);
}

.blue {
  background: #f9f8ff;
}

.hh {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
}

.count {
  padding: 20px;
  text-align: center;
}

.salary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  text-align: center;
  gap: 20px 0;
}

.salary > div {
  border-right: 1px solid var(--gray-light);
}

.salary > div:last-child {
  border-right: none;
}

.title {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 10px;
}

.countValue {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: var(--primary);
}
.salaryValue {
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 10px;
}

.rate {
  display: grid;
  grid-template-columns: repeat(3, 20px);
  gap: 10px;
  justify-content: center;
}

.rate svg {
  width: 20px;
  height: 20px;
  opacity: 0.3;
}

.rate .filled {
  fill: var(--red);
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .hh {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 640px) {
  .salary {
    grid-template-columns: 1fr;
  }

  .salary > div {
    border-right: 1px solid var(--gray-light);
  }
}
