//- include ../mixsins/product-cart.pug


block variables

doctype html
html(lang='en')
   head
      meta(charset='UTF-8')
      title #{title}
      link(rel='stylesheet', href='css/ls-main.css')
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
   body

      block content

      script(src='js/main.js')
  