extends ../layayts/layout.pug


block variables
   -var title = 'Главная'

   include ../sections/header.pug
   include ../sections/header-naviganions.pug

   .container
      .row
         .col-md-3
            //- +product-cart('apple-tv.jpg.png', 'Apple TV 32GB','black','$49.99')


