* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'consolas';
    background: #333;
}

.container {
    width: 1000px;
    display: flex;
    justify-content: space-around;

}

.card {
    position: relative;
}

.face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}


.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.content {
    transition: 0.5s;
    opacity: 0.2;
}

h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}