html, body{
    margin: 0;
}

.fields{
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    margin: 20px;
    overflow: hidden;
    display: inline-block;
}

.fields > div{
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    float: left;
}

.fields > div.row-start{
    clear: both;
}

.fields > div[data-game="fruit"]{
    background: #f00;
}

.fields > div[data-game="snake"]{
    background: #ff0;
}

.fields > div[data-game="wall"]{
    background: #00f;
}