<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="css//bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <style>
        .alert{
            transition: min-height 0.5s;
        }
    </style>
</head>
<body>
<div class="wrapper">
<div class="sample">
    <div class="alert" :style="[properties, minHeight]">
        Some text
    </div>
    <hr>
    <table class="table table-bordered">
         <tr v-for="(value, name) in properties">
             <td>{{ name }}</td>
             <td>
                 <input type="text" 
                        v-model="properties[name]">
             </td>
         </tr>
     </table> 
     <hr>
     <button class="btn btn-primary" @click="height += 50">
         + height
     </button>
     {{minHeight}}
</div>
</div>
<script>

    new Vue({
        el: '.sample',
        data: {
            properties: {
                color: '#ff0',
                backgroundColor: '#050'
            },
            height: 0
        },
        computed: {
            minHeight(){
                return {
                    minHeight: this.height + 'px'
                };
            }
        }
    });

</script>
</body>
</html>
