html, body{
    margin: 0;
}

.items{
    display: flex;
}

.item{
    width: 200px;
    height: 200px;
    background: #eee;
    margin: 20px;
    box-sizing: border-box;
}

.item-active{
    border: 1px solid red;
}