<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Список задач</h4>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
        <th>#</th>
        <th>Название</th>
        <th>Категория</th>
        <th>Приореитет</th>
        <th>Дата</th>
        <th>Статус</th>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.category?.title }}</td>
          <td>{{ task.priority?.title }}</td>
          <td>{{ task.date | date: "short" }}</td>
          <td>{{ task.completed }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
