.header {
  grid-area: header;
  background-color: rgb(0, 155, 0);
}
.header img {
  width: 20px;
}

.loginBlock {
  float: right;
  padding-right: 150px;
  padding-top: 10px;
}
.loginBlock a {
  color: white;
  font-weight: bold;
}
