<h1>Todo Page</h1>

{{#if todos.length}}
<ul>
    {{#each todos}}

    <li class="todo">
        <label>

            {{#if completed}}
            <input type="checkbox" checked>
            <span class="completed">{{title}}</span>
            {{else}}
            <input type="checkbox">
            <span>{{title}}</span>
            {{/if}}


            <button class="btn btn-small">save</button>
        </label>
    </li>

    {{/each}}
</ul>
{{else}}

<p>No Todos</p>
<a href="/create">Create new Todos</a>

{{/if}}