<h1>Hello angular</h1>

<button (click)="backgroundToggle = !backgroundToggle">Toggle</button>
<button (click)="toggle = !toggle">toggle</button>
<button (click)="newToggle = !newToggle">newToggle</button>

<div [ngSwitch]=""></div>

<p
  [ngClass]="{
    red: backgroundToggle,
    blue: !backgroundToggle
  }"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, minima!
</p>

<p [class.blue]="!backgroundToggle" [class.red]="backgroundToggle">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, officia?
</p>

<div [ngSwitch]="toggle">
  <p *ngSwitchCase="true" class="red">Lorem, ipsum.</p>
  <p *ngSwitchCase="false" class="blue">Lorem, ipsum. ipsum ipsum</p>
  <p *ngSwitchDefault="false">Lorem,</p>
</div>

<p *ngIf="newToggle; else blueP" class="red">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, ex!
</p>
<ng-template #blueP>
  <p class="blue">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, quia?
  </p>
</ng-template>

<div [ngSwitch]="newToggle">
  <p *ngSwitchCase="true" class="red">Lorem, ipsum.</p>
  <p *ngSwitchCase="false" class="blue">Lorem, ipsum.</p>
  <p *ngSwitchDefault="false">Lorem, ipsum.</p>
</div>

<hr />

<ul>
  <li *ngFor="let n of arr; let idx = index">
    {{ idx + 1 }} <strong>{{ n }}</strong>
  </li>
</ul>

<hr />

<ul>
  <li *ngFor="let post of obj">
    <p>
      {{ post.title }}<b>{{ post.author }}</b>
    </p>
    <ul>
      <li *ngFor="let comment of post.comments">
        <div>
          <small>{{ comment.name }}</small>
          <p>{{ comment.title }}</p>
        </div>
      </li>
    </ul>
  </li>
</ul>

<hr />

<p>{{ now | date: "long" }}</p>
