$blue: rgb(201, 201, 201);
body {
    font-family: Sans-Serif;
    color: black;
    background-color: $blue;
    font-size: 25px;
}

.heading-1{
    font-size: 32px;
    font-weight: 600;
    color: blue;
}

