<div
  class="sidebar"
  data-background-color="white"
  data-color="purple"
  data-image="../assets/img/sidebar-1.jpg"
>
  <div class="logo">
    <a class="simple-text logo-normal" href="http://www.creative-tim.com">
      Creative Tim
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li
        class="nav-item pointer"
        *ngFor="let category of categories"
        (click)="showTasksByCategory(category)"
        [class.active]="category === selectedCategory"
      >
        <a class="nav-link">
          <p>{{ category.title }}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
