.modal{
    position: fixed;
    width: 60vw;
    height: 60vh;
    margin: 20vh 0 0 20vw;
    background: #fff;
    display: none;
    z-index: 1001;
    box-sizing: border-box;
    padding: 20px;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
    cursor: pointer;
}

.open{
    display: block;
}

.callme-popup input[type=text]{
    padding: 20px;
    color: red;
}

.for-callme-popup{
    display: none;
}
