.nav-wrapper {
    padding: 0 2rem;
}

.price {
    font-size: 2rem;
}

.card-image {
    max-height: 200px !important; /* Your height here */
}

.card-image img {
    width: 100% !important;
}

.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h1 {
    margin-bottom: 2rem;
}

.course img {
    max-width: 600px;
    height: auto;
}

.course .price.bix {
    font-style: 2.5rem;
}

.card-action.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
