$bgContacts: rgb(93, 170, 93);
$bgInputs: rgb(26, 26, 26);


.contacts {
    background-color: $bgContacts;
}

.contacts__wrap {
    padding-top: 55px;
    padding-bottom: 60px;
}

.contacts__title {
    font-size: 30px;
    font-family: 'Raleway';
    font-weight: bold;
    color: $white;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;
    margin: 25px 0 40px;

    &::before {
        background-color: $white;
        width: 70px;
        height: 2px;
        content: '';
        display: block;
        margin: 0 auto 25px;
    }
}

.contacts__list {
    padding: 0;
    list-style: none;
    display: flex;
}

.contacts__form {
    flex-basis: 535px;
    margin: 10px 0;
    margin-right: 65px;
}

.contacs__map {
    flex-grow: 1;
    max-width: 570px;
    margin: 10px 0;
}

.form {

    label {
        @include visually-hidden;
    }

}

.form__input {
    margin-bottom: 20px;

    input,
    textarea {
        border-radius: 10px;
        background-color: $bgInputs;
        width: 100%;
        display: block;
        border: none;
        box-shadow: none;
        resize: none;
        font-size: 20px;
        color: $white;
        line-height: 1.4;
        padding: 16px 10px;
        box-sizing: border-box;


        &::placeholder {
            color: $white;
            opacity: 1;
        }
    }

    textarea {
        min-height: 170px;
    }
}

.form__button {
    @include button() {
        background-color: $second;
        width: 100%;
    }

    ;
}

@media(max-width: 980px) {

    .contacts__list {
        flex-direction: column;
    }

    .contacts__form {
        flex-basis: 0px;
        width: 90%;
        margin: 10px auto;
    }

    .contacs__map {
        flex-grow: 1;
        width: 100%;
        margin: 10px auto;
    }
}


@media(max-width: 400px) {

    .contacts__list {
        flex-direction: column;
    }

    .contacts__form {
        flex-basis: 0px;
        width: 100%;
        margin: 0;
    }

    .contacs__map {
        flex-grow: 1;
        width: 100%;
        margin: 0;
    }

    .form__button{
        margin-bottom: 50px;
    }

    .contacts__wrap{
        padding: 30px 0;
    }
}