.header-navogations-bg
    .container
        .header-navigation

            .navigation-list
                a(href="").navigation-list-item Top Sales
                a(href="").navigation-list-item Brand Focus
                a(href="").navigation-list-item Hi-tech
                a(href="").navigation-list-item Best Sellers
                a(href="").navigation-list-item Projects

            .header-navigation-right
                .header-support Support
                .header-search 
                    label.header-search-label
                        input(type="text" placeholder="I’m looking for ...").header-search-input











