header.header-bg
    .container
        .header
            a(href="#")
                img(src="img/logo/Portland.png", alt="Logo")

            nav.nav
                a(href="").nav-link  Home
                a(href="").nav-link  Devise
                a(href="").nav-link  About us
                a(href="").nav-link  Servise
                a(href="").nav-link  Delivery

            .heaer-right
                .header-cart
                    .header-cart-icon
                        img(src="img/icons/Shopping_Cart_Icon.png", alt="Cart")
                    .header-cart-title Cart
                    .header-cart-counter 0

                a.button Sign In
