@import "~styles/variables";

.status-messages {
    color: $white;
    text-align: center;
    padding-bottom: 10px;
}

.reg {
    display: block;
    margin-top: 25px;
}
l {
    color: rgb(195, 255, 0);
}
l {
    color: rgba(0, 0, 0, 0.342);
}
